@import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");
.Doctor{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    width: max-content;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-family: Nunito, sans-serif;
    background:#4D6FE5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
    margin: 5px;
    z-index: 1;
    text-transform: capitalize;
}
/* .Doctor:active{
    box-shadow: 0 0 5px #ccc;
    width: 77%;
} */
.Doctor:hover{
    background-color: rgb(211, 47, 47);
    cursor: pointer;
    /* width: 77%; */
}
.Details-container{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: black;
}
.fake-Details{
    display: flex;
    position: fixed;
    right: 4px;
    top: 20%;
    width: 45%;
    height: 78%;
    max-height: 500px;
    z-index: 501;
    /* border: 5px solid #ccc; */
    border-radius: 5px;
    background-color: #4D6FE5;
    justify-content: center;
    align-items: center;
    /* font-family: Nunito, sans-serif; */

}
@media(max-width: 600px){
    .Doctor{
        width: 88%;
        height: max-content;
    }
    .Details-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 499;
        border: 5px solid black;
        filter: blur(100px);
        -webkit-filter: blur(5px);
        opacity: 0.5;
        background-color: black;
    }
    .fake-Details{
        display: none;
    }
    .Details{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        width: 90%;
        height: 75%;
        z-index: 600;
        top: 10%;
        opacity: 1;
        background-color: #4D6FE5;
        /* -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; */
        min-height: max-content;
    }
    .Profile2{
        width: 70px;
        height: 70px;
    }
}
@media(min-width: 601px){
    .Doctor{
        max-width: 620px;
        width: 90%;
    }
    .Container{
        position: absolute;
        left: 2%;
        max-width: 50%;
        padding: 1rem;
    }
    .fake-body{
        display: inline-flex;
        justify-content: start;
        align-items: flex-start;
    }
    .Details-container{
        opacity: 1;
    }
    .Details{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        right: 4px;
        top: 20%;
        width: 45%;
        height: 78%;
        max-height: 500px;
        z-index: 501;
        background-color: #4D6FE5;
        box-shadow: 0 0 10px rgb(177, 176, 176);
        /* -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; */
        min-height: max-content;
    }
    .Profile2{
        width: 150px;
        height: 150px;
    }
}
.fake-body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
.fake-body::-webkit-scrollbar{
    display: none;
}
.Profile{
    position: absolute;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    z-index: 1;
    left: 3px;
    top: 3px;
}
.close{
    color: rgb(189, 180, 166);
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-image:url("../Components/Images/close.png");
    background-size: 100% 100%;
    opacity: 0.75;
    z-index: 500;
    top: 8px;
    right: 8px;
}
.close:hover{
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
}
.Container{
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    height: fit-content;
    min-height: 80%; 
    z-index: 4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:  rgb(216, 217, 218);
    padding: 3px;
    box-shadow: 0 0 5px #ccc;
}
.Details{
    /* display:block; */
    opacity: 1;
    /* border: 5px solid #ccc; */
    border-radius: 5px;
    background-color: #4D6FE5;
    justify-content: center;
    align-items: center;
    min-height: max-content;
}
.MyProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 25%;
    background-color: #4D6FE5;
    z-index: 2;
    top: 0;
    cursor: pointer;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4D6FE5;
    z-index: -5;
    overflow-y: scroll;
    font-family: Nunito, Roboto, Arial, sans-serif;
}

.fake-body2{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    /* overflow-y: scroll; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -3; 
}
.logo{
    position: relative;
    top: 5px;
    width: max-content;
    height: max-content;
    cursor: pointer;
    z-index: 900;
}
.profile{
    width: 50px;
    height: 50px;
    /* width: fit-content;
    height: fit-content; */
}
.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    height: max-content;
    z-index: 2;
    
}
.button{
    border: 0;
    text-transform: capitalize;
  width: max-content;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-family: Nunito, sans-serif;
  background: #6381e8;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 5px;
}
.fake-profile{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 3;
    /* background-color: #4D6FE5; */
    background-color: #4D6FE5;
    color:white;
}
.Profile2{
    position: relative;
    border-radius: 50%;
    /* top: 10%; */
    left: auto;
    /* left: 3px;
    top: 3px; */
}
.detailed-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: max-content;
    height: max-content;
    position: relative;
}
.Details-inner{
    position: relative;
    border: 0;
    width: max-content;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-family: Nunito, sans-serif;
    background:#4D6FE5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
    margin: 5px;
    z-index: 1;
    text-transform: capitalize;
}
.link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}